footer{
    /* height: 50px; */
    background-color:  rgb(43, 91, 75);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: wheat;
}
#foot{
    display: flex;
    justify-content: space-around;
    padding: 30px;
}
.foot{
    width: 30%;
    display: flex;
    flex-direction: column;
    
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: rgba(245, 222, 179, 0.58);
}
a:hover{
    color:  rgb(38, 200, 146);
}
button{
    background-color: rgb(252, 252, 252);
    color: rgb(27, 43, 37);
    padding: 0 10px;
    border-radius: 2px;
    box-sizing: border-box;
    border:1px solid white;
    height: 30px;
    margin: 5px;
}
input,button{
    height: 30px;
    /* width: 40%; */
}
/* -------Responsive */
/* @media(max-width:900px){
    .foot{
        align-items: center;
        
    }
} */
@media(max-width: 900px){
    #foot{
        flex-direction: column;
    }
    .foot{
        width: 90%;
    }
}