<footer>
    <div id="foot">
        <div class=" foot logo">
        <h1>Shop</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste, nam. Eaque inventore neque iusto tempora illum minima, modi voluptate! Cumque voluptas, autem veritatis impedit voluptatibus tempora odit accusantium rerum facilis!</p>
        </div>
        <div class=" foot link">
            <h2>liens utiles</h2>
            <ul>
                <li><a href="#">home</a></li>
                <li><a href="3">blog</a></li>
                <li><a href="#">product</a></li>
                <li><a href="#">contact</a></li>
            </ul>
        </div>
        <div class=" foot news">
            <p>Abonnez vous à notre newsletter</p>
            
            <div class="new">
                <input type="email" name="" id="" placeholder="email">
                <button>s'inscrire</button>
            </div>
        </div>
    </div>
    <p>copyright Shop 2026 | designed by <a href="https://github.com/MrAbkr19">Mr_Abkr</a></p>
</footer>